<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BoardService</title>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet" >
    <style>      	
    </style>
		<script src="/js/jquery-3.2.1.min.js"></script>
		<script src="/js/formcheck.js"></script>
  </head>
  <body>
  	<div class="container">
  		<!-- header  -->
  		<div class="row border-bottom border-primary">
  			<div class="col-4">
  				<p><img src="https://via.placeholder.com/200x100"></p>
  			</div>
  			<div class="col-8">
  				<div class="row">
  					<div class="col">
  						<ul class="nav justify-content-end">
  							<li class="nav-item">
  								<a class="nav-link" href="#">로그인</a>
  							</li>
  							<li class="nav-item">
  								<a class="nav-link" href="/boardList">게시 글 리스트</a>
  							</li>
  							<li class="nav-item">
  								<a class="nav-link" href="#">회원가입</a>
  							</li>
  							<li class="nav-item">
  								<a class="nav-link" href="#">주문/배송조회</a>
  							</li>
  							<li class="nav-item">
  								<a class="nav-link" href="#">고객센터</a>
  							</li>
  						</ul>
  					</div>
  				</div>
  				<div class="row">
  					<div class="col text-end">로그인시 인사말 출력</div>
  				</div>
  			</div>
  		</div>
  		<!-- content -->
      {% block content %}
      {% endblock %}
  		<!-- footer -->
  		<div class="row border-top border-primary my-5">
  			<div class="col text-center py-3">
  				<p>고객상담 전화주문:1234-5678 사업자등록번호 :111-11-123456  
      	대표이사: 홍길동  통신판매업 서울 제 000000호<br/>
      	개인정보관리책임자:임꺽정 분쟁조정기관표시 : 소비자보호원, 전자거래분쟁중재위원회<br/>      	
      	Copyright (c) 2016 Spring2U Corp. All right Reserved.	
  				</p>
  			</div>
  		</div>
		</div>
    <script src="/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>