.App {
  width:400px;
  margin: 30px;
  padding:20px;
  border: 1px solid red;
}
.parent{
  width: 400px;
  margin: 30px;
  padding: 20px;
  border: 1px solid red;

}
.header{
  margin: 20px;

}
.footer{
  margin:20px;
}

.primary{
  width:300px;
  margin: 30px;
  padding: 10px;
  border: 1px solid red;
}